<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción</title>
</head>
<body>
    <h1>Ingrese los valores de las variables:</h1>
    <form action="/predict" method="post">
        <label for="var1">Variable 1:</label>
        <input type="number" id="var1" name="var1" required><br><br>
        <label for="var2">Variable 2:</label>
        <input type="number" id="var2" name="var2" required><br><br>
        <label for="var3">Variable 3:</label>
        <input type="number" id="var3" name="var3" required><br><br>
        <label for="var4">Variable 4:</label>
        <input type="number" id="var4" name="var4" required><br><br>
        <label for="var5">Variable 5:</label>
        <input type="number" id="var5" name="var5" required><br><br>
        <input type="submit" value="Predecir">
    </form>
</body>
</html>

